@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap");

header {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100px;
  background-color: #ffffff;
}

#navbar {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.logo {
  margin: 0px 20px;
}

.navegation ul {
  display: flex;
}
.logo img {
  width: 100px;
}

.navegation li {
  list-style-type: none;
  width: 110px;
  background-color: transparent;
}

.navegation a {
  text-decoration: none;
  color: #ad7d0b;
  font-weight: bolder;
  font-size: 1.2rem;
  font-family: "Dosis";
  padding: 3px 7px;
}

.navegation a:hover {
  background-color: #febc1e;
  border-radius: 5px;
  color: black;
  box-shadow: 0px 0px 12px 12px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

@media only screen and (min-width: 320px) and (max-width: 430px) {
  .navegation {
    display: none;
  }
}
