#our-team {
  background-color: #fbd479;
  padding-top: 30px;
  padding-bottom: 30px;
}

.team {
  display: flex;
  gap: 3%;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

#our-team p {
  padding: 50px;
  text-align: center;
  font-size: 3.5rem;
}

.team figure {
  height: 250px;
}

.team img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.team h1 {
  padding-top: 20px;
}

@media only screen and (max-width: 430px) {
  .team {
    display: flex;
    flex-wrap: wrap;
  }
}
