* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #febc1e;
}

footer {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;
}

@media only screen and (min-width: 320px) and (max-width: 425px) {
  footer {
    height: 30px;
    font-size: 0.7rem;
  }
}
